#page-landing {
  width: 100vm;
  height: 100vh;
  /*background: linear-gradient(329.54deg, #29B6D1 0%, #00C7C7 100%);*/
  background: linear-gradient(329.54deg, #ebf2f5 0%, #FFF 100%);

  display: flex;
  justify-content: center;
  align-items: center;
}

#page-landing .content-wrapper {
  position: relative;

  width: 100%;
  max-width: 1100px;

  height: 100%;
  max-height: 680px;

  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}

.content-wrapper .location{
  position: absolute;
  right: 0;
  top: 0;
}

.content-wrapper .enter-magalu{
  position: absolute;
  right: 0;
  bottom: 0;
}